changelog.txt
Core_UML.vsd
*.pdf
ScreenShots/DBConnect.png
Ui/main.cpp
Документація_шаблону_Web-інтерфейсу.doc
Ui/ui.cpp
Ui/ui.h
ScreenShots/LogIn2.png
Ui/Ui.pro
ScreenShots/DBConnectCreate.png
ScreenShots/DBConnectEdit.png
ScreenShots/DBConnectError.png
ScreenShots/DBConnectReject.png
ScreenShots/LogIn.png
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/clmanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/main.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_clmanager.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_clmanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_simulation.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_simulation.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_viennacl.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_viennacl.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/RandomFieldGenerator.exe
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/representativevolumeelement.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/simulation.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/test_clmanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/test_simulation.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/test_viennacl.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/volumeglrender.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/Makefile
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/Makefile.Debug
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/Makefile.Release
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/object_script.RandomFieldGenerator.Debug
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/object_script.RandomFieldGenerator.Release
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/RandomFieldGenerator.exe
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/clmanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_clmanager.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/main.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_clmanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_simulation.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_simulation.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_viennacl.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_viennacl.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/representativevolumeelement.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/simulation.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/test_clmanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/test_simulation.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/test_viennacl.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/volumeglrender.o
*.user
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/consolecommand.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/consolecommand.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/libgcc_s_seh-1.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/libstdc++-6.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/libwinpthread-1.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/mainwindow.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_mainwindow.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_mainwindow.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrender.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrender.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/Qt5Core.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/Qt5Gui.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/Qt5OpenGL.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/Qt5Test.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/Qt5Widgets.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ui_mainwindow.h
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrenderformatdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrenderformatdialog.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/volumeglrenderformatdialog.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ui_volumeglrenderformatdialog.h
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_consolerunner.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_consolerunner.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/clmanagergui.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_clmanagergui.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_clmanagergui.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ui_clmanagergui.h
RandomFieldGenerator/RandomFieldGenerator.pro.user
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_clmanagerconsoleinterface.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_clmanagerconsoleinterface.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_userinterfacemanager.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_userinterfacemanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/userinterfacemanager.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/logfile.txt
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/logfile.txt
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/logger.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_logger.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_logger.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_loggerprivate.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_loggerprivate.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ConsoleLogFile.log
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/glew64.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/glu32.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrenderbasecontroller.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrenderbasecontroller.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/OpenCL.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/opengl32.dll
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/volumeglrenderbasecontroller.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/clmanagergui.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/filterpreviewglrender.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/logger.o
*.o
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_clmanagerconsoleinterface.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_clmanagergui.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_consolerunner.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_logger.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_loggerprivate.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_userinterfacemanager.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_volumeglrender.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_volumeglrenderbasecontroller.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_volumeglrenderformatdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_volumeglrenderrve.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_volumeglrenderrveeditdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/ConsoleLogFile.log
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrenderrve.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrenderrveeditdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ui_volumeglrenderrveeditdialog.h
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_representativevolumeelementconsoleinterface.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_volumeglrendereditdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ui_volumeglrendereditdialog.h
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_representativevolumeelementconsoleinterface.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_volumeglrendereditdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_xyglrender.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_xyglrenderformatdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_xyglrender.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_xyglrenderformatdialog.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/ui_xyglrenderformatdialog.h
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/test.RVE
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/test.scr
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/testBad.RVE
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/testBad.scr
*.doc
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/BezierCurves.RVE
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_nativematrix.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_matrix.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_nativematrix.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/PhysicalEnvironmentDesign_x64_02.05.15.exe
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/RVE64_ellipsoidMultiscale_237_1500.txt
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_derivative.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_matrix.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_polynomial.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_derivative.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_polynomial.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_fespacesimplex.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_fespacesimplex.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_problem.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_domain.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_domain.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/debug/moc_test_problem.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/release/moc_test_synthesis.cpp
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/RVE32_AlSiC_sphere_vol_h_E_v_LCTE.txt
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/RVE16_AlC_sphere_vol_h_E_v_LCTE.txt
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/RVE16_AlSiC_sphere_vol_h_E_v_LCTE.txt
build-RandomFieldGenerator-Qt_5_4_1_MinGW_4_9_1_x64/MechanicalTest1.txt
*.txt
*.dll