#Write here whatever you want, it will read only that he knows
TCPPORT						15001
UIWEBSERVERDOCROOT			doc
UIWEBSERVERHTTPADDRESS		0.0.0.0
UIWEBSERVERHTTPPORT			81
UIWEBSERVERAPPROOT			.
UIWEBSERVERCONFIG			wtconfig.xml
UIWEBSERVERACCESSLOG		AccesLog.log